body {
  font-size: 16px;
  letter-spacing: 0.04em;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  background-color: #E5E5E5;
}

a,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
  margin-top: 20px;
}

button {
  display: block;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

:root {
  --primary-text-color: #4F4F4F;
  --secondary-text-color:#FFFFFF;
  --title-color: #F3B562;
  --subtitle-color:#647B64;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .container {
    width: 420px;
  }
}
@media screen and (min-width: 1170px) {
  .container {
    width: 1170px;
  }
}
.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  color: #FEFEFE;
  background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%);
  box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
  border-radius: 2px;
  padding: 24px 64px 24px 24px;
}

.title {
  position: relative;
  font-size: 24px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 8px;
}

.subtitle {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--subtitle-color);
  margin-bottom: 40px;
}

.page-header {
  padding: 32px 0 32px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.container--flex {
  display: flex;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__link {
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #333333;
}

.nav-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.navigation__list {
  display: flex;
  gap: 40px;
}

.navigation__item:last-child {
  margin-right: 40px;
}

.header__btn {
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  color: #FEFEFE;
  background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%), linear-gradient(102.3deg, #0BB1E3 -4.62%, #0F2976 178.22%), #0E70AF;
  border-radius: 3px;
}

.get-started-wraper {
  display: flex;
  gap: 168px;
  padding-bottom: 103px;
}

.get-started--part {
  position: relative;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.get-started__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 24px;
  color: #333333;
}

.get-started__text {
  max-width: 500px;
  line-height: 1.5;
  color: #4F4F4F;
  margin-bottom: 40px;
}

.get-started__pic {
  background-color: #E5E5E5;
}

.get-started--circle {
  position: absolute;
  top: 109px;
  left: 184px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: linear-gradient(197.92deg, #EF8031 -227.37%, rgba(239, 128, 49, 0.307045) 1.58%, rgba(239, 128, 49, 0) 103.02%);
}

.advantages-wraper {
  display: flex;
  gap: 72px;
  padding-bottom: 104px;
}

.advantages--part {
  position: relative;
  max-width: 460px;
  display: flex;
  flex-direction: column;
}

.advantages--part::before {
  content: "";
  position: absolute;
  top: -18px;
  left: -188px;
  width: 600px;
  height: 160px;
  background-image: linear-gradient(164.26deg, rgba(239, 128, 49, 0) -335.51%, rgba(239, 128, 49, 0.15) -20.24%, rgba(239, 128, 49, 0) 119.45%);
}

.advantages-text {
  max-width: 460px;
  line-height: 1.5;
  color: #4F4F4F;
  margin-bottom: 40px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 8;
  gap: 32px;
}

.advantages__item {
  max-width: 288px;
  padding: 32px 40px;
}

.advantages__pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-color: #FFFFFF;
  margin-bottom: 16px;
}

.advantages-list__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: #333333;
  margin-bottom: 8px;
}

.advantages-list__text {
  font-size: 14px;
  line-height: 1.57;
  color: var(--primary-text-color);
}

.features-wraper {
  padding-bottom: 128px;
}

.features-list {
  position: relative;
  display: flex;
  gap: 44px;
}

.dots {
  position: absolute;
  bottom: -33px;
  left: -140px;
}

.features-list__item {
  position: relative;
  max-width: 360px;
  padding: 59px 50px;
  background: linear-gradient(358.27deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0) 25.62%, rgba(100, 123, 100, 0) 98.53%), #FFFFFF;
  border-radius: 8px;
  z-index: 10;
}

.features-list::after {
  content: "";
  position: absolute;
  bottom: -32px;
  right: -136px;
  width: 600px;
  height: 160px;
  background-image: linear-gradient(164.26deg, rgba(239, 128, 49, 0) -335.51%, rgba(239, 128, 49, 0.15) -20.24%, rgba(239, 128, 49, 0) 119.45%);
}

.features-list__pic {
  width: 66px;
  height: 66px;
  margin-bottom: 32px;
}

.features-list__item__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: #333333;
  margin-bottom: 16px;
}

.features-list__item__text {
  line-height: 1.5;
  color: var(--primary-text-color);
}

.about-wraper {
  padding-bottom: 88px;
  display: flex;
  gap: 144px;
}

.about-wraper::after {
  content: "";
  position: absolute;
  width: 570px;
  height: 530px;
  left: 830px;
  top: 2105px;
  z-index: -1;
  background-image: linear-gradient(197.92deg, rgba(239, 128, 49, 0) -227.37%, rgba(239, 128, 49, 0.15) 1.58%, rgba(239, 128, 49, 0) 103.02%);
}

.about--part {
  max-width: 452px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about__text {
  line-height: 1.5;
  color: var(--primary-text-color);
  margin-bottom: 40px;
}/*# sourceMappingURL=main.css.map */