@import './base/common.scss';

@import './utils/mixins';
@import './utils/_visually-hidden';
@import './utils/variables';

@import './components/container.scss';
@import './components/btn.scss';
@import './components/titles';

@import './layout/header';
@import './layout/main-section';
@import './layout/advantages';
@import './layout/features';
@import './layout/about';