.advantages-wraper {
    display: flex;
    gap: 72px;
    padding-bottom: 104px;
}

.advantages--part {
    position: relative;
    max-width: 460px;
    display: flex;
    flex-direction: column;

}
.advantages--part::before {
    content: '';
    position: absolute;
    top: -18px;
    left: -188px;
    width: 600px;
    height: 160px;
    background-image: linear-gradient(164.26deg, rgba(239, 128, 49, 0) -335.51%, rgba(239, 128, 49, 0.15) -20.24%, rgba(239, 128, 49, 0) 119.45%);
}
.advantages-text{
    max-width: 460px;
    line-height: 1.5;
    color: #4F4F4F;
    margin-bottom: 40px;
}
.advantages-list {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 8;
    gap: 32px;
}

.advantages__item {
    max-width: 288px;
    padding: 32px 40px;
}

.advantages__pic {
    @include flex(flex, center, center);
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #FFFFFF;
    margin-bottom: 16px;
}

.advantages-list__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.5;
        color: #333333;

        margin-bottom: 8px;
}

.advantages-list__text {
        font-size: 14px;
        line-height: 1.57;
        color: var(--primary-text-color);
}