.footer-wraper{
    background-color: #F0DCC5;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
}
.footer--part {
    max-width: 268px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.logo {}

.open_mobile_menu_btn__icon {}

.footer__text {}

.social-list {}

.social-list__item {}

.social-list__link {}

.footer-company {}

.footer-support {}

.footer-form {}

.footer-label {}

.footer-input {}

.btn {}