.footer--background{
background-color: #F0DCC5;
}
.footer-wraper{
    
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
}
.footer--part {
    max-width: 268px;
    display: flex;
    flex-direction: column;
}
.logo--margin{
    margin-bottom: 16px;
}
.footer__text {

    &:not(:last-child){
    margin-bottom: 16px;
}
    &:last-child{
        margin-bottom: 24px;
    }
    }


.social-list {
    display: flex;
    gap: 16px;
}

.social-list__item {
    @include flex(flex, center, center);
    width: 32px;
    height: 32px;

}

.social-list__link {   
    @include flex(flex, center, center);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #DFD1C0;
    fill: #647B64;
    transition: fill 250ms ease, background-color 250ms ease;
    &:hover{
        fill: #DFD1C0;
        background-color: #647B64;
    }
}

.footer-company {
    width: 168px;
    margin-left: 132px;
}
.footer-company__title {
    font-weight: 500;
    line-height: 1.5;
    color: #647B64;
    margin-bottom: 24px;
}
.footer-company__item {
    color: var(--text-color);

    &:not(:last-child){
            margin-bottom: 12px;
        }

}
.support{
    width: 168px;
}
.footer-support {
    display: flex;
    margin-left: 32px;
}
.footer-support__title {
    font-weight: 500;
    line-height: 1.5;
    color: #647B64;
    margin-bottom: 24px;
}
.footer-support__item {
    color: var(--text-color);
        
    &:not(:last-child) {
        margin-bottom: 12px;
            }
}
.footer-form {
    margin-left: 132px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}
.footer-label {
    font-weight: 500;
    line-height: 1.5;

    color: #647B64;
}

.footer-input {
    padding: 16px 24px;
    width: 268px;
    
}
