.btn{
    width: fit-content;
    font-weight: 500;
    line-height: 1.5;        
    text-transform: uppercase;

    color: #FEFEFE;
    background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%);
    box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
    border-radius: 2px;

    padding: 24px 64px  24px  24px;
}