.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
@media screen and (max-width:1169px) {
    .container {
        width: 420px;
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media screen and (min-width:1170px) {
    .container {
        width: 1170px;
    }
}